<h1>New fact_name</h1>

<%= error_messages_for :fact_name %>

<% form_for(:fact_name, :url => fact_names_path) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Host</b><br />
    <%= f.text_field :host_id %>
  </p>

  <p>
    <b>Updated at</b><br />
    <%= f.datetime_select :updated_at %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', fact_names_path %>