<p>
  <b>Name:</b>
  <%=h @fact_name.name %>
</p>

<p>
  <b>Host:</b>
  <%=h @fact_name.host_id %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @fact_name.updated_at %>
</p>


<%= link_to 'Edit', edit_fact_name_path(@fact_name) %> |
<%= link_to 'Back', fact_names_path %>